<h2 class="text-2xl font-medium text-zinc-600 mb-5">Assignment Two</h2>
<button
  (click)="toggleHiddenText()"
  class="
    bg-blue-500
    hover:bg-blue-600
    text-white
    py-3
    px-5
    mb-4
    rounded
    font-semibold
    disabled:bg-blue-100 disabled:text-blue-400
  "
>
  {{ isHidden ? "Show" : "Hide" }} Text
</button>
<p
  [ngClass]="{ hidden: isHidden }"
  class="font-semibold text-slate-700 text-lg mb-4"
>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor sunt
  exercitationem dolorum deserunt, repellat neque.
</p>
<p class="text-slate-700 font-medium">Click Button Log</p>
<div class="space-y-2">
  <p *ngFor="let item of log; let i = index">
    <span
      [ngClass]="{ 'text-slate-600 bg-slate-200': i > 3 }"
      class="p-2 inline-block"
      >{{ item }}</span
    >
  </p>
</div>
